<!DOCTYPE html> 
<head>
</head>
<body>
<a href="#" id="start">Start</a>
<div id="fb-root"></div>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
<script>
  // 232293086787125|7e5fa5c6ad6c820e2e4e2f77.1-530678173|178568815531741|Exx_Qt_SWh0vsEsEqCroo6C1rIA
  var appid = '232293086787125', pageid = '174561909225066';
  window.fbAsyncInit = function() {
    FB.init({appId: appid, status: true, cookie: true, xfbml:
        true, channelUrl: document.location.protocol + '//' + document.location.host + '/channel/xd_receiver.html'});
    document.getElementById('start').onclick = function(){
      FB.getLoginStatus(function(response){
          FB.login(function(response){
              if (response.session) {
                  FB.api('/me/accounts', function(response){
                      token = '';
                      // 取得 app 的token
                      for (i = 0; i < response.data.length; i++) {
                          if (response.data[i].id = pageid)
                          {
                              token = response.data[i].access_token;
                              break;
                          }
                      }
                      $.post('/', {page_id : pageid, access_token:token},function(){
                          alert('token saved');
                      });
                  });
              }
          }, {perms:'publish_stream,manage_pages, offline_access'});
      });
      return false;
    }
  };
  (function() {
    var e = document.createElement('script'); e.async = true;
    e.src = document.location.protocol +
      '//connect.facebook.net/en_US/all.js';
    document.getElementById('fb-root').appendChild(e);
  }());
</script>
</body>
</html>
